*.o
snp_dists
tests/run_all_tests
src/run_all_tests*
src/test-suite.log
Makefile
.DS_Store
src/Makefile
src/.deps
autom4te.cache/*
*.lo
*~
src/.libs/*
src/libsnp_dists.la
Makefile.in
aclocal.m4
config.*
configure
depcomp
graph
install-sh
libtool
ltmain.sh
missing
src/Makefile.in
stamp-h1
test-driver
compile
.Tpo
libsnp-dists.la
run-all-tests*
src/snp-dists
tests/.deps/*
tests/.dirstamp
